# Dependencies
node_modules

# Next build outputs
.next
out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# VCS
.git
.gitignore

# Env files
.env*

# Docs and local artifacts
docs
coverage
.vscode
.DS_Store

# Docker
Dockerfile*
docker-compose*.yml
